
.menu_style:hover {
    background-color: #dd1569;
    color: #FBFBFB;
    font-weight: 700;
}
/* #inicio:hover {
    background-color: #dd1569;
    color: #FBFBFB;
    font-weight: 700;
}
#lista_produtos:hover{
    background-color: #dd1569;
    color: #FBFBFB;
    font-weight: 700;
}

#contato_contato:hover{
    background-color: #dd1569;
    color: #FBFBFB;
    font-weight: 700;
}
#carrinho_compras:hover {
    background-color: #dd1569;
    color: #FBFBFB;
    font-weight: 700;
} */

.apresentacao {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 5rem;
}

.introducao {
    width: 40%;
    border: none;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

.carrosel_de_imagens {
    
    border: none;
    margin-left: 15rem;

}

