
body {
    background-color: #FBFBFB;
    margin: 0;
    padding: 0;
}

.cabecalho {
    /* background-color: #ff2f933d; */
    background-color: #ff2f93;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
    
}

.logo_e_login{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.icon_menu{
    font-size: 2.5rem;
    color: #FBFBFB;
}

.icon_login{
    font-size: 2.5rem;
    color: #dd1569;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#menu_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    list-style-type: none;
    width: 100%;  
    
}

#menu_itens a{
    text-decoration: none;
    color: #FBFBFB;
    font-size: 1.5rem;
    font-weight: 350;
}


#lista_produtos_produtos{
    display: none;
}

#lista_produtos a:hover ~ #lista_produtos_produtos{
    display: block;
}

.apresentacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}
.rodape {
    /* margin-top: 7rem; */
    /* background-color: #ff2f933d; */
    background-color: #ff2f93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rodape_redes_sociais{
    font-size: xx-large;
    color: #FBFBFB;
    font-weight: 700;
}
.copyright {
    color: #FBFBFB;
    font-weight: 700;
}

